<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EcoCore" version="7.0.0.14407" targetFramework="net472" />
  <package id="EcoWindowsForms" version="7.0.0.14407" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Management" version="7.0.0" targetFramework="net472" />
</packages>